<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Black  & White|LS Photoart</title>

    <link rel="stylesheet" type="text/css" href="../../slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../../slick/slick-theme.css"/>
                        <!-- jQuery cdn -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="../../slick/slick.js"></script>

                        <!--Font CDNs  -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

                          <!-- Bootstrap CDN  -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- Lightbox files -->

<link rel='stylesheet' href='../../parallax/simpleLightbox.css'>
<script type='text/javascript' src='../../parallax/simpleLightbox.js'></script>




    <link rel='stylesheet' type="text/css" href="../../stylesheets/styles.css"/>


  </head>
  <body>

          <!-- Header and Nav  -->

    <div id='home-second'>
      <div class='links-wrapper'><a class='nav-links' href ='../../index.html'>Home</a>
      </div>
      <div class='links-wrapper'><a class='nav-links' href ='gal-main.html'>Gallery</a>
      </div>
      <div id='main-logo'><h1 class='logo'>Liz Simonton</h1><h2 class='logo '>PhotoArt</h2></div>
    <div class='links-wrapper'><a class='nav-links' href ='../about.html'>My Story</a>
    </div>
      <div class='links-wrapper'><a class='nav-links' target="_blank" href ='http://www.lizsimontonphotoart.com/blog'>Blog</a>
      </div>
      <div class='dropdown'>
        <img class='dropdown-btn' src='../../images/icons/menu-btn.png'/>
      </div>
    </div>

    <div class='gallery-wrapper'>
      <div class='gallery-nav'>
        <a class='gal-nav-links first-link' href='gal-main.html'>Gallery Home</a>
        <a class='gal-nav-links' href='black-white.html'>Black and White</a>
        <a class='gal-nav-links' href='photo-paintings.html'>Photo Paintings</a>
        <a class='gal-nav-links' href='photography.html'>Photography</a>
        <a class='gal-nav-links' href='favorites.html'>Favorites</a>
        <a class='gal-nav-links' href='trips.html'>Trips</a>
      </div>

      <div class='test-wrap'>
        <div class='slide-wrap-pp'>
          <img class='slide-pic' src="../../images/gallery/black-white/plaza-bw.jpg">
          <img class='slide-pic' src="../../images/gallery/black-white/denver-pan.jpg">
          <img class='slide-pic' src="../../images/gallery/black-white/valparaiso-wall.jpg">
          <img class='slide-pic' src="../../images/gallery/black-white/rower-bw.jpg">
          <img class='slide-pic' src="../../images/gallery/black-white/dancer-rock.jpg">
        </div>
      </div>

      <h1 class='gallery-header'>Black & White</h1>
      <section class='gallery-content fav-content'>
        <a href='../../images/gallery/black-white/dancer-rock.jpg'><img class='tile' src="../../images/gallery/black-white/thumbs/dancer-rock-t.jpg" data-aos="zoom-out" data-aos-duration='1500'></a>
        <a href='../../images/gallery/black-white/denver-pan.jpg'><img class='tile' src="../../images/gallery/black-white/thumbs/denver-pan-t.jpg" data-aos="zoom-out" data-aos-duration='1500'></a>
        <a href='../../images/gallery/black-white/marc-wedding.jpg'><img class='tile' src="../../images/gallery/black-white/thumbs/marc-wedding-t.jpg" data-aos="zoom-out" data-aos-duration='1500'></a>
        <a href='../../images/gallery/black-white/maria-nice.jpg'><img class='tile' src="../../images/gallery/black-white/thumbs/maria-nice-t.jpg" data-aos="zoom-out" data-aos-duration='1500'></a>
        <a href='../../images/gallery/black-white/mining-hotel.jpg'><img class='tile' src="../../images/gallery/black-white/thumbs/mining-hotel-t.jpg" data-aos="zoom-out" data-aos-duration='1500'></a>
        <a href='../../images/gallery/black-white/opera-house.jpg'><img class='tile' src="../../images/gallery/black-white/thumbs/opera-house-t.jpg" data-aos="zoom-out" data-aos-duration='1500'></a>
        <a href='../../images/gallery/black-white/plaza-bw.jpg'><img class='tile' src="../../images/gallery/black-white/thumbs/plaza-bw-t.jpg" data-aos="zoom-out" data-aos-duration='1500'></a>
        <a href='../../images/gallery/black-white/rower-bw.jpg'><img class='tile' src="../../images/gallery/black-white/thumbs/rower-bw-t.jpg" data-aos="zoom-out" data-aos-duration='1500'></a>
        <a href='../../images/gallery/black-white/snow-bird.jpg'><img class='tile' src="../../images/gallery/black-white/thumbs/snow-bird-t.jpg" data-aos="zoom-out" data-aos-duration='1500'></a>
        <a href='../../images/gallery/black-white/valparaiso-wall.jpg'><img class='tile' src="../../images/gallery/black-white/thumbs/valparaiso-wall-t.jpg" data-aos="zoom-out" data-aos-duration='1500'></a>
        <a href='../../images/gallery/black-white/rrtracks.jpg'><img class='tile' src="../../images/gallery/black-white/thumbs/rrtracks-t.jpg" data-aos="zoom-out" data-aos-duration='1500'></a>






        </section>

    </div>
  </div>







<script>
    $(document).ready(function(){
      $('.slide-wrap-pp').slick({
        dots: true,
        slidesToScroll: 1,
        autoplay: true,
        infinite: true,
        fade: true,
        pauseOnHover: false,

      })

      $('.gallery-content a').simpleLightbox();
    });
</script>
  </body>
  </html>
