<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Liz Simonton|Photoart</title>

    <link rel="stylesheet" type="text/css" href="../../slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../../slick/slick-theme.css"/>
                        <!-- jQuery cdn -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="../../slick/slick.js"></script>

                        <!--Font CDNs  -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

                          <!-- Bootstrap CDN  -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- Lightbox files -->

<link rel='stylesheet' href='../../parallax/simpleLightbox.css'>
<script type='text/javascript' src='../../parallax/simpleLightbox.js'></script>




    <link rel='stylesheet' type="text/css" href="../../stylesheets/styles.css"/>


  </head>
  <body>

          <!-- Header and Nav  -->

    <div id='home-second'>
      <div class='links-wrapper'><a class='nav-links' href ='../../index.html'>Home</a>
      </div>
      <div class='links-wrapper'><a class='nav-links' href ='gal-main.html'>Gallery</a>
      </div>
      <div id='main-logo'><h1 class='logo'>Liz Simonton</h1><h2 class='logo '>PhotoArt</h2></div>
    <div class='links-wrapper'><a class='nav-links' href ='../about.html'>My Story</a>
    </div>
      <div class='links-wrapper'><a class='nav-links' target="_blank" href ='http://www.lizsimontonphotoart.com/blog'>Blog</a>
      </div>
      <div class='dropdown'>
        <img class='dropdown-btn' src='../../images/icons/menu-btn.png'/>
      </div>
    </div>

    <div class='gallery-wrapper'>
      <div class='gallery-nav'>
        <a class='gal-nav-links first-link' href='gal-main.html'>Gallery Home</a>
        <a class='gal-nav-links' href='black-white.html'>Black and White</a>
        <a class='gal-nav-links' href='photo-paintings.html'>Photo Paintings</a>
        <a class='gal-nav-links' href='photography.html'>Photography</a>
        <a class='gal-nav-links' href='favorites.html'>Favorites</a>
        <a class='gal-nav-links' href='trips.html'>Trips</a>
      </div>

      <div class='test-wrap'>
        <div class='slide-wrap-pp'>
          <img class='slide-pic' src="../../images/gallery/photo-paintings/vail.jpg">
          <img class='slide-pic' src="../../images/gallery/photo-paintings/bmoor-shop.jpg">
          <img class='slide-pic' src="../../images/gallery/photo-paintings/bmoor-walkers.jpg">
          <img class='slide-pic' src="../../images/gallery/photo-paintings/radishs.jpg">
          <img class='slide-pic' src="../../images/gallery/photo-paintings/fao-schwartz.jpg">
          <img class='slide-pic' src="../../images/gallery/photo-paintings/sea-painter.jpg">
        </div>
      </div>

      <h1 class='gallery-header'>Photo Paintings</h1>
      <section class='gallery-content'>
          <a href='../../images/gallery/photo-paintings/seattle-ferris.jpg'><img class='tile' src="../../images/gallery/photo-paintings/photopainting-thumbs/seattle-ferris-t.jpg" data-aos="zoom-out" data-aos-duration='1500'></a>
          <a href='../../images/gallery/photo-paintings/bmoor-shop.jpg'><img class='tile' src="../../images/gallery/photo-paintings/photopainting-thumbs/bmoor-shop-t.jpg" data-aos="flip-left" data-aos-duration='1500'></a>
          <a href='../../images/gallery/photo-paintings/bmoor-walkers.jpg'><img class='tile' src="../../images/gallery/photo-paintings/photopainting-thumbs/bmoor-walkers-t.jpg" data-aos="flip-right" data-aos-duration='2500'></a>
          <a href='../../images/gallery/photo-paintings/denver-les-house.jpg'><img class='tile' src="../../images/gallery/photo-paintings/photopainting-thumbs/denver-les-house-t.jpg" data-aos="zoom-in-up" data-aos-duration='1500'></a>
          <a href='../../images/gallery/photo-paintings/fao-schwartz.jpg'><img class='tile' src="../../images/gallery/photo-paintings/photopainting-thumbs/fao-schwartz-t.jpg" data-aos="flip-left" data-aos-duration='1500'></a>
          <a href='../../images/gallery/photo-paintings/lily.jpg'><img class='tile' src="../../images/gallery/photo-paintings/photopainting-thumbs/lily-t.jpg" data-aos="flip-down" data-aos-duration='1000'></a>
          <a href='../../images/gallery/photo-paintings/oia-church.jpg'><img class='tile' src="../../images/gallery/photo-paintings/photopainting-thumbs/oia-church-t.jpg" data-aos="flip-up" data-aos-duration='1500'></a>
          <a href='../../images/gallery/photo-paintings/radishs.jpg'><img class='tile' src="../../images/gallery/photo-paintings/photopainting-thumbs/radishs-t.jpg" data-aos="zoom-in-up" data-aos-duration='1500'></a>
          <a href='../../images/gallery/photo-paintings/sea-painter.jpg'><img class='tile' src="../../images/gallery/photo-paintings/photopainting-thumbs/sea-painter-t.jpg" data-aos="zoom-out" data-aos-duration='1500'></a>
          <a href='../../images/gallery/photo-paintings/bike-window.jpg'><img class='tile' src="../../images/gallery/photo-paintings/photopainting-thumbs/bike-window-t.jpg" data-aos="zoom-out-up" data-aos-duration='1000'></a>
          <a href='../../images/gallery/photo-paintings/times-square.jpg'><img class='tile' src="../../images/gallery/photo-paintings/photopainting-thumbs/times-square-t.jpg" data-aos="zoom-out" data-aos-duration='1500'></a>
          <a href='../../images/gallery/photo-paintings/Seattleabstract.jpg'><img class='tile' src="../../images/gallery/photo-paintings/photopainting-thumbs/Seattleabstract-t.jpg" data-aos="zoom-out" data-aos-duration='1500'></a>
          <a href='../../images/gallery/photo-paintings/sixteenth.jpg'><img class='tile' src="../../images/gallery/photo-paintings/photopainting-thumbs/sixteenth-t.jpg" data-aos="zoom-out" data-aos-duration='1500'></a>
          <a href='../../images/gallery/photo-paintings/maria-shop.jpg'><img class='tile' src="../../images/gallery/photo-paintings/photopainting-thumbs/maria-shop-t.jpg" data-aos="fade-left-down" data-aos-duration='1500'></a>
          <a href='../../images/gallery/photo-paintings/stonetown.jpg'><img class='tile' src="../../images/gallery/photo-paintings/photopainting-thumbs/stonetown-t.jpg" data-aos="zoom-out" data-aos-duration='1500'></a>
          <a href='../../images/gallery/photo-paintings/vail.jpg'><img class='tile' src="../../images/gallery/photo-paintings/photopainting-thumbs/vail-t.jpg" data-aos="zoom-out" data-aos-duration='1500'></a>
          <a href='../../images/gallery/photo-paintings/walkers-dcmall.jpg'><img class='tile' src="../../images/gallery/photo-paintings/photopainting-thumbs/walkers-dcmall-t.jpg" data-aos="zoom-out" data-aos-duration='1500'></a>
          <a href='../../images/gallery/photo-paintings/climber.jpg'><img class='tile' src="../../images/gallery/photo-paintings/photopainting-thumbs/climber-t.jpg" data-aos="flip-left" data-aos-duration='1500'></a>

        </section>

    </div>
  </div>

  <!-- <div class='multipleSlides'>
    <img src='../../images/gallery/photo-paintings/climber.jpg'>
    <img src='../../images/gallery/photo-paintings/walkers-dcmall.jpg'>
    <img src='../../images/gallery/photo-paintings/vail.jpg'>
    <img src='../../images/gallery/photo-paintings/sixteenth.jpg'>
  </div> -->







<script>
    $(document).ready(function(){
      $('.slide-wrap-pp').slick({
        dots: true,
        slidesToScroll: 1,
        autoplay: true,
        infinite: true,
        fade: true,
        pauseOnHover: false,


      })

      $('.gallery-content a').simpleLightbox();
    });
</script>
  </body>
  </html>
