<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trips & Places | LS Photoart</title>

                      <!-- Slick Slider plugin -->
  <link rel="stylesheet" type="text/css" href="../../plugins/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="../../plugins/slick/slick-theme.css"/>

                        <!-- jQuery cdn -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="../../plugins/slick/slick.js"></script>

  <!--  AMMap CDN  -->
  <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
  <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
  <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
  <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
  <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

              <!-- Font CDNs  -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

                <!-- Bootstrap CDNs -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

                <!-- Lightbox image viewer plugin -->
  <link rel='stylesheet' href='../../plugins/parallax/simpleLightbox.css'>
  <script type='text/javascript' src='../../plugins/parallax/simpleLightbox.js'></script>


  <link rel="stylesheet" href="../../stylesheets/styles.css">
  <script src='../../javascripts/main.js' type="text/javascript"></script>
  <script src = '../../javascripts/map.js' type="text/javascript"></script>


        <!-- Animate on Slide plugin CDN -->
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>

</head>
<body>
  <!-- Run the Animate on Slide plugin -->
<script>
AOS.init();
</script>

  <!-- Header and Nav  -->
  <div id='home-top'>
  </div>
  <div id='home-second'>
    <div class='links-wrapper'><a class='nav-links' href ='../../index.html'>Home</a>
    </div>
    <div class='links-wrapper'><a class='nav-links' href ='./gal-main.html'>Gallery</a>
    </div>
    <div class='links-wrapper'><a class='nav-links' href ='../about.html'>My Story</a>
    </div>
    <div id='main-logo'><h1 class='logo'>Liz Simonton</h1><h2 class='logo '>PhotoArt</h2></div>
    <div class='links-wrapper'><a class='nav-links' target="_blank" href ='http://www.lizsimontonphotoart.com/blog'>Blog</a>
    </div>
    <div class='links-wrapper'><a class='nav-links' target="_blank" href ='https://www.lizsimontonphotoart.com/blog/store/'>Store</a>
    </div>
    <div class='links-wrapper'><a class='nav-links' target="_blank" href ='https://www.lizsimontonphotoart.com/blog/merchandise'>Merchandise</a>
    </div>
    <div class='dropdown'>
      <img class='dropdown-btn' src='../../images/icons/menu-btn.png'/>
    </div>
  </div>
  <ul class='drop-menu'>
    <a href='../index.html'><li>Home</li></a>
    <a href='gallery.html'><li>Gallery</li></a>
    <a href='about.html'><li>My Story</li></a>
    <a target='_blank' href='http://www.lizsimontonphotoart.com/blog'><li>Blog</li>
    <a target='_blank' href='https://www.lizsimontonphotoart.com/blog/store/'><li>Store</li>
    <a target='_blank' href='https://www.lizsimontonphotoart.com/blog/merchandise'><li>Merchandise</li>
  </ul>

          <!-- Trips Body -->
<div class='container-fluid trips-contain'>
  <div class='row'>
  <div id='euro' class='active'>
    <h2 class ='trip-head' value='eurotrip'>Europe 2017</h2>
  </div>
  <div id='world'>
    <h2 class='trip-head' value='worldtrip'>Around The World 2015</h2>
  </div>
</div>
  <div class='row map-contain'>
    <div id='euro-contain'>
      <div class="col-md-6 col-sm-12 map-photos euro-photos">
        <div class='slide-wrap-trips'>
          <img class='slide-pic-world' src="../../images/trips/europe/cable-car-view.jpg">
          <img class='slide-pic-world' src="../../images/trips/europe/city-view1.jpg">
          <img class='slide-pic-world' src="../../images/trips/europe/gondola1.jpg">
          <img class='slide-pic-world' src="../../images/trips/europe/positano-beach.jpg">
          <img class='slide-pic-world' src="../../images/trips/europe/sunset-final.jpg">
        </div>
      </div>
      <div id='eurotrip'  class='col-md-6 col-sm-12 chartdiv'></div>
      <div class='col-md-12 trips-galleries'>
        <h2>Europe 2017</h2>
        <section class='gallery-content fav-content europe-gal'></section>
      </div>
    </div>


    <div id='world-contain' style='display:none'>
      <div id='worldtrip' class='col-md-6 col-sm-12 chartdiv'></div>
      <div class="col-md-6 col-sm-12 map-photos world-photos">
        <div class='slide-wrap-trips'>
          <img class='slide-pic-world' src="../../images/trips/world/africasureal-project.jpg">
          <img class='slide-pic-world' src="../../images/trips/world/kili.jpg">
          <img class='slide-pic-world' src="../../images/trips/world/tasting-NZ.jpg">
          <img class='slide-pic-world' src="../../images/trips/world/sydney-bridge.jpg">
          <img class='slide-pic-world' src="../../images/trips/world/liz-fish.jpg">
        </div>
      </div>
      <div class='col-md-12 trips-galleries'>
        <section class='gallery-content fav-content world-gal'></section>
      </div>
    </div>
  </div>
</div>
<footer>
  <small>&copy; Copyright 2017-2019, Lizsimontonphotoart Inc. All Rights Reserved</small>
  <span>Website designed by M.A. Simonton @ msimonton.com</span>
</footer>
  <script>
  $(document).ready(function()  {

    $('.slide-wrap-trips').slick({
      dots: true,
      slidesToScroll: 1,
      autoplay: true,
      infinite: true,
      fade: true,
      pauseOnHover: false,
    })

    // Functions to populate the gallery
    galPopTrips(world, "world")
    galPopTrips(europe, 'europe')

    $('.gallery-content a').simpleLightbox();
  })
  </script>
</body>
</html>
