<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Liz Simonton|Photoart</title>

                        <!-- jQuery cdn -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

                        <!--Font CDNs  -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

                          <!-- Bootstrap CDN  -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


    <script type="text/javascript" src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/none.js"></script>
    <script type='text/javascript' src='../../javascripts/main.js'></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>


    <link rel='stylesheet' type="text/css" href="../../stylesheets/styles.css"/>


  </head>
  <body>

          <!-- Header and Nav  -->

    <div id='home-second'>
      <div class='links-wrapper'><a class='nav-links' href ='../../index.html'>Home</a>
      </div>
      <div class='links-wrapper'><a class='nav-links' href ='gallery/gal-main.html'>Gallery</a>
      </div>
      <div id='main-logo'><h1 class='logo'>Liz Simonton</h1><h2 class='logo '>PhotoArt</h2></div>
    <div class='links-wrapper'><a class='nav-links' href ='../about.html'>My Story</a>
    </div>
      <div class='links-wrapper'><a class='nav-links' target="_blank" href ='http://www.lizsimontonphotoart.com/blog'>Blog</a>
      </div>
    </div>

    <!-- About Blurb -->

  <div id='about-content-wrap'>
    <div class='row'>
      <div class='col-md-6 col-md-offset-1 col-sm-12'>
        <h1 class='about-header'>About Me</h1>
        <div id='about-blurb-wrap'>
          <p id='about-blurb'>I am a part-time photograhper, sports, travel and art lover. In late 2014, while persuing website Digital Photography School, by Darren Rowse of Australia, I cam across an online photoshop class offered by an amazing teacher, Sebastian Michaels (USA) entitled Photoshop Grunge. Subsequentely, Sebastion offered a year long advanced photoshop class called AWAKE, Living the Photoartistic Life, and a black and white course called Createve Black and WHite. Through these courses and learning several photo editing software programs, primarily Adobe Photoshop CC and Lightroom CC, I discovered a fabulous new world of creating my own "art" from photos. </br>

          I am a fan of modern art styles including impressionist paintings, every day street scenes and high resolution black and shites, and surreal works. I hope you enjoy the projects on this site, and that maybe you'll be inspired to try some of it yourself!
        </div>
      </div>
      <div class='col-md-4 col-sm-12'>
        <img id='my-photo' src='../../images/main/about-me.jpg'>
      </div>
    </div>
  </div>

            <!-- Parallax Image  -->
  <div class="block full-width" >
    <img src="../../images/favorites/les-brick.jpg" data-speed="1" class="img-parallax" id='about-parallax'>
  </div>


    <!-- Resources section -->

  <section id='resources-wrap'>
    <h1>Resources</h1>
    <div id='bottom-border'></div>
    <!-- <p>For those who are interested, below are some of the resources I have used during my journey into photography and digital design.</p> -->
    <h2>Photography and Photo-editing</h2>
    <div id='resources'>
      <div class='resource'>
        <h3 class='resource-title'>Digital Photography School</h3>
        <div class='res-title-img' id='digit-photo'>
          <!-- <img class='resource-img' src ='../images/resources/digital-photo-school.png'/> -->
      </div>
        <div class='resource-blurb-wrap'>
          <p class='resource-blurb'>DPS is a wonderful resource for all things photography. I purchased some ebooks from DPS and was entered into a drawling... and I won! I got a $1000 Nikkon lens! As a result of that prize, my interest and love of photograhy skyrocketed. DPS offers useful tutorials, tips, and resources to take our photography to the next level.</p>
        </div>
      </div>

      <div class='resource'>
        <h3 class='resource-title'>Adobe Creative Cloud</h3>
        <div class='res-title-img' id='creative-cloud'>
          <!-- <img class='resource-img' src ='../images/resources/digital-photo-school.png'/> -->
      </div>
        <div class='resource-blurb-wrap'>
          <p class='resource-blurb'>Adobe, maker of Photoshop, Lightroom, Muse, Dreamweaver, In-Design, and many other amazing apps, is the king of photoediting software. The Creative Cloud membership gives you access to its programs, stock photos, cloud storage and many other useful resources. It cannot be done without</p>
        </div>
      </div>

      <div class='resource'>
        <h3 class='resource-title'>Topaz Labs</h3>
        <div class='res-title-img' id='topaz-labs'>
          <!-- <img class='resource-img' src ='../images/resources/digital-photo-school.png'/> -->
      </div>
        <div class='resource-blurb-wrap'>
          <p class='resource-blurb'>Topaz Labs makes plug-ins for Photoshop that allows you to turn photos into paintings and other works of art. Topaz Impression is my go-to filter for photoart projects.</p>
        </div>
      </div>

      <div class='resource'>
        <h3 class='resource-title'>Photoshop Artisty</h3>
        <div class='res-title-img' id='photoshop-artistry'>
          <!-- <img class='resource-img' src ='../images/resources/digital-photo-school.png'/> -->
      </div>
        <div class='resource-blurb-wrap'>
          <p class='resource-blurb'>Sebastian Michaels is an incredible Photoshop, Lightroom and other photo-editing program teacher, and artist coach. He offers several amazing online courses. He changed my world, and is the primary reason I wanted to become an artist, as well as a photographer.</p>
        </div>
      </div>
    </div>

  </section>










<!-- <script>
$(document).ready(function(){
  $('.my-slider-two').slick({
    autoplay: true,
    autoplaySpeed: 3000,
    infinite: true,
    speed: 800,
    fade: true,
    cssEase: 'linear',
    arrows: false,
    pauseOnHover: false,
});
});
</script> -->


  <!-- <script src="../node_modules/aos/dist/aos.js"></script>
  <script>
  AOS.init();
</script> -->

  <script>

  $(document).ready(function(){




  // script for the feature gallery parallax
  $('.img-parallax').each(function(){
    var img = $(this);
    var imgParent = $(this).parent();
    function parallaxImg () {
      var speed = img.data('speed');
      var imgY = imgParent.offset().top;
      var winY = $(this).scrollTop();
      var winH = $(this).height();
      var parentH = imgParent.innerHeight();
      var winBottom = winY + winH;
      if (winBottom > imgY && winY < imgY + parentH) {
        var imgBottom = ((winBottom - imgY) * speed);
        var imgTop = winH + parentH;
        var imgPercent = ((imgBottom / imgTop) * 100) + (50 - (speed * 50));
      }
      img.css({
        top: imgPercent + '%',
        transform: 'translate(-50%, -' + imgPercent + '%)'
      });
    }
    $(document).on({
      scroll: function () {
        parallaxImg();
      }, ready: function () {
        parallaxImg();
      }
    });
  });

  });
  </script>




  <div style='height: 1000px'></div>




  </body>
  </html>
